@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Transportes Mouzo <img src="https://www.transportesmouzo.com.ar/wp-content/uploads/2020/06/d04a33c9-86b7-411b-8397-fa23f04cb3b3.jpg">.</p>
</div>
